<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>759672044500-s5tr1jq3rut3eorhuju76tg89khkq9gn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.759672044500-s5tr1jq3rut3eorhuju76tg89khkq9gn</string>
	<key>API_KEY</key>
	<string>AIzaSyAbDcvZxqxNIcX0A3_zskFCrt_OHEEhjEE</string>
	<key>GCM_SENDER_ID</key>
	<string>759672044500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deltacap.zlato</string>
	<key>PROJECT_ID</key>
	<string>zlato-80834</string>
	<key>STORAGE_BUCKET</key>
	<string>zlato-80834.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:759672044500:ios:fa554cb93d385158a0b441</string>
</dict>
</plist>