<!DOCTYPE html>
{% extends "admin/change_list.html" %}
{% load static %}
{% block content %}
    <script>
    connect();
    var tickpriceBuy=50000;
    var tickpriceSell=50000;
    var instruments;
    var globalPremiumBuy=0;
    var globalPremiumSell=0;
    function connect() {
        var instruments;
        const url='ws://'
            + window.location.host
            + '/ws/'
            + 'ticker'
            + '/'
        const tickerSocket = new WebSocket(
            url
        );

        tickerSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);

            if (data["instruments"]) {
                instruments=data["instruments"]
                renderTablesOnInstruments(instruments)
            }
            if(data['global_premium'])
            {
                globalPremiumBuy=data["global_premium"]["buy_premium"]
                globalPremiumSell=data["global_premium"]["sell_premium"]
            }
            if(data["gold_tick"])
            {  tickpriceBuy=data["gold_tick"]["bid"]
                tickpriceSell=data["gold_tick"]["ask"]
                renderTablesOnInstruments(instruments)
            }
        };

        tickerSocket.onclose = function (e) {
            console.log('Socket is closed. Reconnect will be attempted in 2 second.', e.reason);
            setTimeout(function () {
                connect();
            }, 2000);
        };

        tickerSocket.onopen = function () {
            console.log("tickerSocket opened");
            tickerSocket.send(JSON.stringify({
                "type": "ticker_request",
                'message': "Please send ticks! I beg you my lord"
            }));
        }
    }

    function renderTablesOnInstruments(instruments)
    {
        instruments = JSON.parse(instruments)
        var rows = '';
        rows+="<tr>\n" +
            "    <th>Product</th>\n" +
            "    <th>Bid</th>\n" +
            "    <th>Ask</th>\n" +
            "    <th>High</th>\n" +
            "    <th>Low</th>\n" +
            "  </tr>";
        instruments.forEach(function(item){
            console.log(item)
                const bidprice = item["buy_premium"] + tickpriceBuy + globalPremiumBuy
                const askprice = item["sell_premium"] + tickpriceSell + globalPremiumSell
                var row = '<tr>';
                row += '<td>' + item["name"] + '</td>';
                row += '<td>' + bidprice + '</td>';
                row += '<td>' + askprice + '</td>';
                row += '<td>' + bidprice + '</td>';
                row += '<td>' + askprice + '</td>';
                row + '<tr>';
                rows += row
        });
        document.getElementById("data-table").innerHTML=rows;
        {#$('#' + "data-table").html(rows);#}
    }
    </script>

<table id="data-table"style="margin:40px;width:60%"></table>

{{ block.super }}
{% endblock %}