<!DOCTYPE html>
{% extends "admin/change_list.html" %}
{% load static %}
{% block content %}
<table style="margin:40px;width:60%">
  <tr>
    <th>Product</th>
    <th>Bid</th>
    <th>Ask</th>
    <th>High</th>
    <th>Low</th>
  </tr>
  <tr>
    <td>Gold 999</td>
    <td>50191</td>
    <td>50300</td>
    <td>51000</td>
    <td>50000</td>
  </tr>
  <tr>
    <td>Gold 999</td>
    <td>50198</td>
    <td>50300</td>
    <td>51000</td>
    <td>50000</td>
  </tr>
  <tr>
    <td>Gold 999</td>
    <td>50191</td>
    <td>50300</td>
    <td>51000</td>
    <td>50000</td>
  </tr>
  <tr>
    <td>Gold 999</td>
    <td>50191</td>
    <td>50300</td>
    <td>51000</td>
    <td>50000</td>
  </tr>
  <tr>
    <td>Gold 999</td>
    <td>50191</td>
    <td>50300</td>
    <td>51000</td>
    <td>50000</td>
  </tr>
  <tr>
    <td>Gold 999</td>
    <td>50191</td>
    <td>50300</td>
    <td>51000</td>
    <td>50000</td>
  </tr>
</table>
{{ block.super }}
{% endblock %}