<!DOCTYPE html>
<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>

{% extends "admin/change_list.html" %}
{% load static %}
{% block content %}
    <script>
        connect();
        var tickpriceBuy = 50000;
        var tickpriceSell = 50000;
        var instruments;
        var globalPremiumBuy = 0;
        var globalPremiumSell = 0;
        var goldBankRate =0;
        var goldBankRateAsk =0;
        var goldBankRateBid =0;
        var goldBankRate999=0;
        var goldBankRate999Ask=0;
        var goldBankRate999Bid=0;
        var silverBankRate =0;
        const user = {{ request.user.id }};
        var vendor=null;
        function connect() {
            var instruments;
            const url = 'wss://'
                + window.location.host
                + '/ws/'
                + 'vendor'
                + '/'
            const tickerSocket = new WebSocket(
                url
            );
            tickerSocket.onmessage = function (e) {
                const data = JSON.parse(e.data);
                if (data["instruments"]) {
                    instruments = data["instruments"]
                    renderTablesOnInstruments(instruments)
                }
                if (data['global_premium']) {
                    globalPremiumBuy = data["global_premium"]["buy_premium"]
                    globalPremiumSell = data["global_premium"]["sell_premium"]
                }
                if (data["gold_tick"]) {
                    tickpriceBuy = data["gold_tick"]["bid"]
                    tickpriceSell = data["gold_tick"]["ask"]
                    renderTablesOnInstruments(instruments)
                    document.getElementById('gold_ask').innerText=data['gold_comex']["ask"]
                    document.getElementById('gold_999_ask').innerText=data['gold_comex']["ask"]
                    document.getElementById('silver_ask').innerText=data['silver_tick']["ask"]
                    document.getElementById("kgrate_Gold").innerText=
                        Math.round(((data["gold_comex"]["ask"] + vendor.gold_premium) * vendor.gold_conv * (data["dollar"]["ask"]+vendor.gold_dollar_premium)+vendor.gold_custom)*(1+vendor.gold_tax/100)* 100) / 100
                    document.getElementById("kgrate_Gold_999").innerText=
                        Math.round(((data["gold_comex"]["ask"] + vendor.gold_999_premium) * vendor.gold_999_conv * (data["dollar"]["ask"]+vendor.gold_999_dollar_premium)+vendor.gold_999_custom)*(1+vendor.gold_999_tax/100)* 100) / 100
                    document.getElementById("grmrate_Gold").innerText=
                       Math.round( ( ((data["gold_comex"]["ask"] + vendor.gold_premium) * vendor.gold_conv * (data["dollar"]["ask"]+vendor.gold_dollar_premium)+vendor.gold_custom)*(1+vendor.gold_tax/100))/1000 * 100) / 100
                    document.getElementById("grmrate_Gold_999").innerText=
                        Math.round((((data["gold_comex"]["ask"] + vendor.gold_999_premium) * vendor.gold_999_conv * (data["dollar"]["ask"]+vendor.gold_999_dollar_premium)+vendor.gold_999_custom)*(1+vendor.gold_999_tax/100))/1000* 100) / 100
                    goldBankRate999Ask=        (((data["gold_comex"]["ask"] + vendor.gold_999_premium) * vendor.gold_999_conv * (data["dollar"]["ask"]+vendor.gold_999_dollar_premium)+vendor.gold_999_custom)*(1+vendor.gold_999_tax/100))/100

                    goldBankRate999Bid=        (((data["gold_comex"]["bid"] + vendor.gold_999_premium) * vendor.gold_999_conv * (data["dollar"]["bid"]+vendor.gold_999_dollar_premium)+vendor.gold_999_custom)*(1+vendor.gold_999_tax/100))/100


                    goldBankRateAsk= (((data["gold_comex"]["ask"] + vendor.gold_premium) * vendor.gold_conv * (data["dollar"]["ask"]+vendor.gold_dollar_premium)+vendor.gold_custom)*(1+vendor.gold_tax/100))/100
                    goldBankRateBid= (((data["gold_comex"]["bid"] + vendor.gold_premium) * vendor.gold_conv * (data["dollar"]["bid"]+vendor.gold_dollar_premium)+vendor.gold_custom)*(1+vendor.gold_tax/100))/100
                    document.getElementById('sell_spot').innerText = goldBankRateAsk/10
                    document.getElementById('sell_future').innerText = data['gold_tick']['ask']/10
                    document.getElementById('spot_future_diff').innerText = goldBankRateAsk/10 - data['gold_tick']['ask']/10
                    document.getElementById("dollar1").innerText=data["dollar"]["ask"]
                    document.getElementById("dollar2").innerText=data["dollar"]["ask"]
                    document.getElementById("dollar3").innerText=data["dollar"]["ask"]
                    {#document.getElementById("kgrate_Silver").innerText=#}
                    {#    (data["silver"]["ask"] + vendor.gold_999_premium * vendor.gold_999_conv * (data["dollar"]["ask"]+vendor.gold_999_dollar_premium)+38500)*(1+vendor.gold_999_tax/100)#}

                }
                if(data["vendors"]) {
                    vendor=data["vendors"][0]
                    document.getElementById("gold_premium").value=vendor.gold_premium
                    document.getElementById("gold_999_premium").value=vendor.gold_999_premium
                    document.getElementById("silver_premium").value=vendor.silver_premium
                    document.getElementById("gold_conv").value=vendor.gold_conv
                    document.getElementById("gold_999_conv").value=vendor.gold_999_conv
                    document.getElementById("silver_conv").value=vendor.silver_conv
                    document.getElementById("gold_custom").value=vendor.gold_custom
                    document.getElementById("gold_999_custom").value=vendor.gold_999_custom
                    document.getElementById("silver_custom").value=vendor.silver_custom
                    document.getElementById("gold_dollar_premium").value=vendor.gold_dollar_premium
                    document.getElementById("gold_999_dollar_premium").value=vendor.gold_999_dollar_premium
                    document.getElementById("silver_dollar_premium").value=vendor.silver_dollar_premium
                    document.getElementById("gold_tax").value=vendor.gold_tax
                    document.getElementById("gold_999_tax").value=vendor.gold_999_tax
                    document.getElementById("silver_tax").value=vendor.silver_tax
                }
                if(data["vendor_update"]) {
                    vendor= JSON.parse(data["vendor_update"])
                    console.log(vendor)
                    document.getElementById("gold_premium").value=vendor.gold_premium
                    document.getElementById("gold_999_premium").value=vendor.gold_999_premium
                    document.getElementById("silver_premium").value=vendor.silver_premium
                    document.getElementById("gold_conv").value=vendor.gold_conv
                    document.getElementById("gold_999_conv").value=vendor.gold_999_conv
                    document.getElementById("silver_conv").value=vendor.silver_conv
                    document.getElementById("gold_custom").value=vendor.gold_custom
                    document.getElementById("gold_999_custom").value=vendor.gold_999_custom
                    document.getElementById("silver_custom").value=vendor.silver_custom
                    document.getElementById("gold_dollar_premium").value=vendor.gold_dollar_premium
                    document.getElementById("gold_999_dollar_premium").value=vendor.gold_999_dollar_premium
                    document.getElementById("silver_dollar_premium").value=vendor.silver_dollar_premium
                    document.getElementById("gold_tax").value=vendor.gold_tax
                    document.getElementById("gold_999_tax").value=vendor.gold_999_tax
                    document.getElementById("silver_tax").value=vendor.silver_tax
                }
            };

            tickerSocket.onclose = function (e) {
                console.log('Socket is closed. Reconnect will be attempted in 2 second.', e.reason);
                setTimeout(function () {
                    connect();
                }, 2000);
            };

            tickerSocket.onopen = function () {
                console.log("tickerSocket opened");
                tickerSocket.send(JSON.stringify({
                    "type": "ticker_request",
                    'message': "Please send ticks!",
                    'user': user,
                }));
                tickerSocket.send(JSON.stringify({
                    "type": "vendor_request",
                    'message': "Please send ticks!",
                    'user': user,
                }));
            }
        }

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
        function save() {
            console.log("Saving output")
            data_to_send={
                        gold_premium             :document.getElementById("gold_premium").value,
                        gold_999_premium         :document.getElementById("gold_999_premium").value,
                        silver_premium           :document.getElementById("silver_premium").value,
                        gold_conv                :document.getElementById("gold_conv").value,
                        gold_999_conv            :document.getElementById("gold_999_conv").value,
                        silver_conv              :document.getElementById("silver_conv").value,
                        gold_custom              :document.getElementById("gold_custom").value,
                        gold_999_custom          :document.getElementById("gold_999_custom").value,
                        silver_custom            :document.getElementById("silver_custom").value,
                        gold_dollar_premium      :document.getElementById("gold_dollar_premium").value,
                        gold_999_dollar_premium  :document.getElementById("gold_999_dollar_premium").value,
                        silver_dollar_premium    :document.getElementById("silver_dollar_premium").value,
                        gold_tax                 :document.getElementById("gold_tax").value,
                        gold_999_tax             :document.getElementById("gold_999_tax").value,
                        silver_tax               :document.getElementById("silver_tax").value
                    }
            $.ajax({
        		url: '/api/bankrate/',
        		type: 'POST',
        		headers: {
                    "X-CSRFToken": getCookie('csrftoken')
                },
        		contentType: "application/json",
        		data: JSON.stringify(data_to_send),
        		success: function(response){
                    console.log(response);
                    alert("success");
                    {#window.location.reload(true);#}
        		},
        		error: function(e){
        		    console.log("errorResponse.responseJSON :: ");
                    console.log(e)
        		    if(e.responseJSON.status == 440){
                        window.location.href = "{{login}}";
                    }
        		}
	 });
                {#fetch(window.location.host+'/api/bankrate/',{#}
                {#    method:'POST',#}
                {#    headers:{#}
{##}
{#                    },#}
{#                    body:JSON.stringify(data_to_send)#}
{#                }).then(#}
{#                    response=>{#}
{#                        console.log(response.json())#}
{#                    }#}
{#                )#}


        }
        function renderTablesOnInstruments(instruments) {
            instruments = JSON.parse(instruments)
            var rows = '';
            rows += "<tr>\n" +
                "    <th>Vendor</th>\n" +
                "    <th>Product</th>\n" +
                "    <th>Bid</th>\n" +
                "    <th>Ask</th>\n" +
                {#"    <th>High</th>\n" +#}
                {#"    <th>Low</th>\n" +#}
                "  </tr>";
            instruments.forEach(function (item) {

                var bidprice=0;
                var askprice=0;
                if(item["source_symbol"]==='gold_bank') {
                     bidprice = item["buy_premium"] + goldBankRateBid + globalPremiumBuy
                     askprice = item["sell_premium"] + goldBankRateAsk + globalPremiumSell
                }
                else {
                     bidprice = item["buy_premium"] + tickpriceBuy + globalPremiumBuy
                     askprice = item["sell_premium"] + tickpriceSell + globalPremiumSell
                }
                var row = '<tr>';
                row += '<td style="font-size: large">' + item["vendor"] + '</td>';
                row += '<td style="font-size: large">' + item["name"] + '</td>';
                row += '<td style="font-size: large">' + parseInt(bidprice) + '</td>';
                row += '<td style="font-size: large">' + parseInt(askprice) + '</td>';
                {#row += '<td>' + item["high"] + '</td>';#}
                {#row += '<td>' + item["low"] + '</td>';#}
                row + '<tr>';
                rows += row
            });
            document.getElementById("data-table").innerHTML = rows;

            {#$('#' + "data-table").html(rows);#}
        }
    </script>

    <table id="data-table" style="margin:40px;width:60%"></table>
    {{ block.super }}
    <style>
    {#input{#}
    {#    width: 50px;#}
    {#}#}
    {#.sell{#}
    {#  position: absolute;#}
{##}
{#    }#}


{#     .bank {#}
    {#position: relative;#}
{#    width: 61px;#}
{#    top: 24px;#}
{#    left: 14px;#}
{#    height: 26px;#}
{#    right: -56px;#}
{#    text-align: center;#}
{#    line-height: 26px;#}
{#}#}
{#     .svg {#}
{#    position: relative;#}
{#    width: 61px;#}
{#    top: -1px;#}
{#    left: 100px;#}
{#    height: 26px;#}
{#    right: -56px;#}
{#    text-align: center;#}
{#    line-height: 26px;#}
{#}#}
{#    .mcx {#}
{#    position: relative;#}
{#    width: 61px;#}
{#    top: -27px;#}
{#    left: 187px;#}
{#    height: 26px;#}
{#    right: -56px;#}
{#    text-align: center;#}
{#    line-height: 26px;#}
{#}#}
{#     .bank-svg {#}
{#    position: relative;#}
{#    width: 61px;#}
{#    top: -17px;#}
{#    left: 48px;#}
{#    height: 26px;#}
{#    right: -56px;#}
{#    text-align: center;#}
{#    line-height: 26px;#}
{#    color: #FFFFFF;#}
{#}#}
{#    .svg-mcx {#}
    {#position: relative;#}
{#    width: 61px;#}
{#    top: -43px;#}
{#    left: 154px;#}
{#    height: 26px;#}
{#    right: -56px;#}
{#    text-align: center;#}
{#    line-height: 26px;#}
{#    color: #FFFFFF;#}
{#}#}
{#   .bank-mcx {#}
    {#position: relative;#}
{#    width: 61px;#}
{#    top: -30px;#}
{#    left: 98px;#}
{#    height: 26px;#}
{#    right: -56px;#}
{#    text-align: center;#}
{#    line-height: 26px;#}
{#    color: #FFFFFF;#}
{#}#}
    </style>
    <table style="float: left"  width="50%" border="0" cellpadding="0" cellspacing="0" class="rpbankrates" id="table2">
        <thead>
        {% csrf_token %}
        <tr class="title">
            <td class="titleheading1">Description</td>
            <td><p>Gold 999</p></td>
            <td><p>Gold</p></td>
            <td><p>Silver</p></td>
        </tr>
        </thead>
        <tbody>
        <tr class="even">
            <td class="rateheading">ASK($)</td>
            <td class=" "><label id="gold_999_ask" class="0_askdollar">1861.90</label></td>
            <td class=" "><label id="gold_ask" class="1_askdollar">1861.90</label></td>
            <td class=" "><label id="silver_ask" class="2_askdollar">24.08</label></td></tr>
        <tr class="odd">
            <td class="rateheading">Premium</td>
            <td class=" "
            ><input  class="white-highlight" type="text" value="1.000" id="gold_999_premium"></td>
            <td class=" "
            ><input class="white-highlight" type="text" value="3.500" name="fv[bankrate][Gold][premium]"
                        id="gold_premium"></td>
            <td class=" "><input class="white-highlight" type="text" value="0.120" name="fv[bankrate][Silver][premium]"
                        id="silver_premium" ></td></tr>
        <tr class="even">
            <td class="rateheading">Conv</td>
            <td class=" "
            ><input class="txtlabel" type="text" value="32.1200" name="fv[bankrate][Gold_999][bconvert_value]"
                        id="gold_999_conv" ></td>
            <td class=" "
            ><input class="txtlabel" type="text" value="31.1034" name="fv[bankrate][Gold][bconvert_value]"
                        id="gold_conv" ></td>
            <td class=" "
            ><input class="txtlabel" type="text" value="32.1508" name="fv[bankrate][Silver][bconvert_value]"
                        id="silver_conv" ></td></tr>
        <tr class="odd">
            <td class="rateheading">INR(₹)</td>
            <td class=" "
            ><label id="dollar1" class="0_inr">74.32</label></td>
            <td class=" "
            ><label id="dollar2" class="1_inr">74.32</label></td>
            <td class=" "
            ><label id="dollar3" class="2_inr">74.32</label></td></tr>
        <tr class="even">
            <td class="rateheading">Premium</td>
            <td class=" "
            ><input class="white-highlight" type="text" value="0.010" name="fv[bankrate][Gold_999][rupeepremium]"
                        id="gold_999_dollar_premium"></td>
            <td class=" "
            ><input class="white-highlight" type="text" value="0.010" name="fv[bankrate][Gold][rupeepremium]"
                        id="gold_dollar_premium"></td>
            <td class=" "
            ><input class="white-highlight" type="text" value="0.001" name="fv[bankrate][Silver][rupeepremium]"
                        id="silver_dollar_premium"></td></tr>
        <tr class="odd">
            <td class="rateheading">Custom</td>
            <td class=" "
            ><input class="white-highlight" type="text" value="385000.000" name="fv[bankrate][Gold_999][custom]"
                        id="gold_999_custom"></td>
            <td class=" "
            ><input class="white-highlight" type="text" value="385000.000" name="fv[bankrate][Gold][custom]"
                        id="gold_custom"></td>
            <td class=" "
            ><input class="white-highlight" type="text" value="7025.000" name="fv[bankrate][Silver][custom]"
                        id="silver_custom"></td></tr>
        <tr class="odd">
            <td class="rateheading">Tax</td>
            <td class=" "
            ><input class="white-highlight" type="text" value="3.000" name="fv[bankrate][Gold_999][btax_value]"
                        id="gold_999_tax"></td>
            <td class=" "
            ><input class="white-highlight" type="text" value="3.000" name="fv[bankrate][Gold][btax_value]"
                        id="gold_tax"></td>
            <td class=" "
            ><input class="white-highlight" type="text" value="3.000" name="fv[bankrate][Silver][btax_value]"
                        id="silver_tax"></td></tr>
        <tr class="odd">
            <td class="rateheading">1Grm Rate</td>
            <td class=" "
            ><label id="grmrate_Gold_999" class="0_grmrate">4977.61</label></td>
            <td class=" "
            ><label id="grmrate_Gold" class="1_grmrate">4862.89</label></td>
            <td class=" "
            ><label id="grmrate_Silver" class="2_grmrate">66.80</label></td></tr>
        <tr class="even">
            <td class="rateheading">1KG Rate</td>
            <td class=" "
            ><label id="kgrate_Gold_999" class="0_kgrate">4977614.92</label></td>
            <td class=" "
            ><label id="kgrate_Gold" class="1_kgrate">4862891.42</label></td>
            <td class=" " ><label id="kgrate_Silver" class="2_kgrate">66795.97</label></td></tr>
        <tr class="odd">
        <td colspan="4">
            <input type="button" onclick="save()" value="Save"/>
            </td>
        </tr>
        </tbody>
    </table>


   <table style="float: left"  width="50%" border="0" cellpadding="0" cellspacing="0" class="rpbankrates" id="table2">
{#        <thead>#}
{#        <tr class="title" >#}
{#                <td>Selling</td>#}
{#        </tr>#}
{#        </thead>#}
        <tbody>
        <tr class="even" align="middle" >
            <td colspan="2">Spot</td>
            <td colspan="2">Selling</td>
            <td colspan="2">Future</td>
        </tr>
        <tr class="even" align="middle"  >
            <td id="sell_spot"  style="font-size: large" style="font-size: large" colspan="2">Spot</td>
            <td id="selling" style="font-size: large" colspan="2">Selling</td>
            <td id="sell_future" style="font-size: large" colspan="2">Future</td>
        </tr>
        <tr class="even" align="middle">
            <td  colspan="3">Difference_Spot</td>
            <td  colspan="3">Difference_Future</td>
        </tr>
        <tr class="even" align="middle">
            <td id="difference_spot" style="font-size: large" colspan="3">Difference_Spot</td>
            <td id="difference_fut"  style="font-size: large" colspan="3">Difference_Future</td>
        </tr>
        <tr class="odd" align="middle" >
            <td  colspan="6" >Spot_Future diff</td>
        </tr>
        <tr class="odd" align="middle" >
            <td id="spot_future_diff" colspan="6" style="font-size: large">Spot_Future diff</td>
        </tr>
        <tr>
            <td  colspan="6">&nbsp;</td>
        </tr>
{#        <tr>#}
{#           <td>Hell</td>#}
{#        </tr>#}
{#        <tr class="even">#}
{#            <td class="rateheading">ASK($)</td>#}
{#            <td class=" "><label id="gold_999_ask" class="0_askdollar">1861.90</label></td>#}
{#            <td class=" "><label id="gold_ask" class="1_askdollar">1861.90</label></td>#}
{#            <td class=" "><label id="silver_ask" class="2_askdollar">24.08</label></td></tr>#}
{#        <tr class="odd">#}
{#            <td class="rateheading">Premium</td>#}
{#            <td class=" "#}
{#            ><input  class="white-highlight" type="text" value="1.000" id="gold_999_premium"></td>#}
{#            <td class=" "#}
{#            ><input class="white-highlight" type="text" value="3.500" name="fv[bankrate][Gold][premium]"#}
{#                        id="gold_premium"></td>#}
{#            <td class=" "><input class="white-highlight" type="text" value="0.120" name="fv[bankrate][Silver][premium]"#}
{#                        id="silver_premium" ></td></tr>#}
{#        <tr class="even">#}
{#            <td class="rateheading">Conv</td>#}
{#            <td class=" "#}
{#            ><input class="txtlabel" type="text" value="32.1200" name="fv[bankrate][Gold_999][bconvert_value]"#}
{#                        id="gold_999_conv" ></td>#}
{#            <td class=" "#}
{#            ><input class="txtlabel" type="text" value="31.1034" name="fv[bankrate][Gold][bconvert_value]"#}
{#                        id="gold_conv" ></td>#}
{#            <td class=" "#}
{#            ><input class="txtlabel" type="text" value="32.1508" name="fv[bankrate][Silver][bconvert_value]"#}
{#                        id="silver_conv" ></td></tr>#}
{#        <tr class="odd">#}
{#            <td class="rateheading">INR(₹)</td>#}
{#            <td class=" "#}
{#            ><label id="dollar1" class="0_inr">74.32</label></td>#}
{#            <td class=" "#}
{#            ><label id="dollar2" class="1_inr">74.32</label></td>#}
{#            <td class=" "#}
{#            ><label id="dollar3" class="2_inr">74.32</label></td></tr>#}
{#        <tr class="even">#}
{#            <td class="rateheading">Premium</td>#}
{#            <td class=" "#}
{#            ><input class="white-highlight" type="text" value="0.010" name="fv[bankrate][Gold_999][rupeepremium]"#}
{#                        id="gold_999_dollar_premium"></td>#}
{#            <td class=" "#}
{#            ><input class="white-highlight" type="text" value="0.010" name="fv[bankrate][Gold][rupeepremium]"#}
{#                        id="gold_dollar_premium"></td>#}
{#            <td class=" "#}
{#            ><input class="white-highlight" type="text" value="0.001" name="fv[bankrate][Silver][rupeepremium]"#}
{#                        id="silver_dollar_premium"></td></tr>#}
{#        <tr class="odd">#}
{#            <td class="rateheading">Custom</td>#}
{#            <td class=" "#}
{#            ><input class="white-highlight" type="text" value="385000.000" name="fv[bankrate][Gold_999][custom]"#}
{#                        id="gold_999_custom"></td>#}
{#            <td class=" "#}
{#            ><input class="white-highlight" type="text" value="385000.000" name="fv[bankrate][Gold][custom]"#}
{#                        id="gold_custom"></td>#}
{#            <td class=" "#}
{#            ><input class="white-highlight" type="text" value="7025.000" name="fv[bankrate][Silver][custom]"#}
{#                        id="silver_custom"></td></tr>#}
{#        <tr class="odd">#}
{#            <td class="rateheading">Tax</td>#}
{#            <td class=" "#}
{#            ><input class="white-highlight" type="text" value="3.000" name="fv[bankrate][Gold_999][btax_value]"#}
{#                        id="gold_999_tax"></td>#}
{#            <td class=" "#}
{#            ><input class="white-highlight" type="text" value="3.000" name="fv[bankrate][Gold][btax_value]"#}
{#                        id="gold_tax"></td>#}
{#            <td class=" "#}
{#            ><input class="white-highlight" type="text" value="3.000" name="fv[bankrate][Silver][btax_value]"#}
{#                        id="silver_tax"></td></tr>#}
{#        <tr class="odd">#}
{#            <td class="rateheading">1Grm Rate</td>#}
{#            <td class=" "#}
{#            ><label id="grmrate_Gold_999" class="0_grmrate">4977.61</label></td>#}
{#            <td class=" "#}
{#            ><label id="grmrate_Gold" class="1_grmrate">4862.89</label></td>#}
{#            <td class=" "#}
{#            ><label id="grmrate_Silver" class="2_grmrate">66.80</label></td></tr>#}
{#        <tr class="even">#}
{#            <td class="rateheading">1KG Rate</td>#}
{#            <td class=" "#}
{#            ><label id="kgrate_Gold_999" class="0_kgrate">4977614.92</label></td>#}
{#            <td class=" "#}
{#            ><label id="kgrate_Gold" class="1_kgrate">4862891.42</label></td>#}
{#            <td class=" " ><label id="kgrate_Silver" class="2_kgrate">66795.97</label></td></tr>#}
{#        <tr class="odd">#}
{#        <td colspan="4">#}
{#            <input type="button" onclick="save()" value="Save"/>#}
{#            </td>#}
{#        </tr>#}
        </tbody>
    </table>

{#        <div class="bank" id="spot_sell">4977.61</div>#}
{#        <div class="svg" id="sell">4872.90</div>#}
{#        <div class="mcx" id="future">5001.00</div>#}
{#        <div class="bank-svg" id="sell_spot" style="background-color: red;">-104.71</div>#}
{#        <div class="svg-mcx" id="sell_future" style="background-color: red;">-128.10</div>#}
{#        <div class="bank-mcx" id="spot_future" style="background-color: green;">23.39</div>#}
{#    </div>#}

{#    <div class="buy">#}
{#										<div class="bank" id="spot_buy">4977.61</div>#}
{#										<div class="svg" id="buy">4852.85</div>#}
{#										<div class="mcx" id="buyfuture">5000.30</div>#}
{#										<div class="bank-svg" id="buy_spot" style="background-color: red;">-124.76</div>#}
{#										<div class="svg-mcx" id="buy_future" style="background-color: red;">-147.45</div>#}
{#	<div class="bank-mcx" id="spot_buyfuture" style="background-color: green;">22.69</div>#}
</div>
{% endblock %}
{% block filters %}
    {% endblock %}

