<!DOCTYPE html>
{% extends "admin/change_list.html" %}
{% load static %}
{% block content %}
    <script>
    connect();
    const user = {{ request.user.id }};

    function connect() {
        const url='ws://'
            + window.location.host
            + '/ws/'
            + 'vendor'
            + '/'
        const tickerSocket = new WebSocket(
            url
        );
        tickerSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            if(data["order_update"])
            {
                location.reload();
                console.log('order_update recieved')
            }
        };

        tickerSocket.onclose = function (e) {
            console.log('Socket is closed. Reconnect will be attempted in 2 second.', e.reason);
            setTimeout(function () {
                connect();
            }, 2000);
        };

        tickerSocket.onopen = function () {
            console.log("tickerSocket opened");
            {#tickerSocket.send(JSON.stringify({#}
            {#    "type": "ticker_request",#}
            {#    'message': "Please send ticks!",#}
            {#    'user':user,#}

        }
    }

    </script>

<table id="data-table"style="margin:40px;width:60%"></table>

{{ block.super }}
{% endblock %}